@import "reset.css";

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: rgb(83, 92, 104);
	color: rgb(223, 230, 233);
}

.game-lobby {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 40%;
}

.game-lobby h1 {
	font-size: 3em;
	font-weight: "bold";
	margin: 1.5em;
}

.game-entries {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	width: 100%;
	height: 60%;
}

.game-entries .game-form {
	
}

.in-game {
	width: 100%;
	height: 100%;
}

.in-game .side-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 10%;
	height: 100%;
	position: fixed;
	
	
	background-color: rgba(69, 170, 242,1.0);
	box-shadow: 0 1em 3em rgba(69, 170, 242,1.0);
	color: rgb(255, 255, 255, 0.3);
}

.in-game .side-bar div {
	width: 100%;
	height: 12.5%;
	
	border-top: 1px solid rgb(255, 255, 255, 0.3);
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.in-game .main {
	margin-left: 10%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.in-game .main .start-game {
	width: 90%;
	height: 5%;
	
	cursor: pointer;
}
.in-game .main .start-game.not-drawer:disabled {
	cursor: not-allowed;
	border: 0;
	padding; 0;
}

.in-game .main .answer-div {
	width: 90%;
	height: 5%;
	
	background-color: rgb(255, 255, 255);
	box-shadow: 0 1em 3em rgb(0, 0, 0);
	
	color: rgb(0, 0, 0);
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.in-game .main .answer-div.hidden {
	display: none;
}

.in-game .main .game-canvas {
	width: 90%;
	height: 75%;
	
	background-color: rgb(255, 255, 255);
	box-shadow: 0 1em 3em rgb(0, 0, 0);
	
}

.in-game .main .draw-controls {
	width: 90%;
	height: 10%;

	background-color: rgb(255, 255, 255);
	box-shadow: 0 1em 3em rgb(0, 0, 0);
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.in-game .main .draw-controls .color-Btns {
	width: 90%;
	height: 8%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
	background-color: rgb(255, 255, 255);
	box-shadow: 0 1em 3em rgb(0, 0, 0);
	
}

.in-game .main .draw-controls .color-Btns button {
	width: 3.5em;
	height: 3.5em;
	border-radius: 40%;
	border-color: rgb(83, 92, 104);
	
	cursor: pointer;
	
	transition: 0.3s ease-in-out;
}

.in-game .main .draw-controls .color-Btns button:hover {
	transform: scale(1.3, 1.3); 
}

.in-game .main .draw-controls .color-Btns input[type=range]::-moz-range-track {
	background-color: rgb(83, 92, 104);
}

.in-game .main .draw-controls .draw-control {
	width: 4.5em;
	text-align: center;
}

.active {
	transform: scale(1.5, 1.5);
}


.hidden {
	display: none;
}

.online {
	background-color: rgb(223, 230, 233);
	color: rgb(83, 92, 104);
}

